.stock-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-info-container {
  display: inline-flex;
}

.row-container_1 {
  display: flex;
}

.stock-detail-1 {
  margin: 20px;
}

.stock-detail-1 :first-child {
  gap: 15px;
  font-size: 22px;
  color: blue;
  font-weight: 500;
  padding-right: 10px;
}

.stock-detail-1 span {
  padding: 2px;
  font-size: 15px;
}

.stock-item_1 {
  background-color: rgba(202, 225, 255, 0.349);
  width: 900px;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.stock-item_2 {
  background-color: rgba(202, 225, 255, 0.349);
  width: 440px;
  height: 250px;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.stock-item_2_1 {
  background-color: rgba(202, 225, 255, 0.349);
  width: 440px;
  height: 250px;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin-left: 20px;
}

.stock-item_3 {
  background-color: rgba(202, 225, 255, 0.349);
  flex: 3;
  width: 400px;
  border-radius: 12px;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
}

.order-type {
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
