.stock-table {
  text-align: center;
}

.stock-body {
  height: 500px;
  overflow: scroll;
}

.stock-container {
  margin-left: 90px;
  margin-right: 90px;
}

.stock-header {
  padding: 20px;
  text-align: left;
}

.stock-header p {
  font-size: 1.3rem;
  color: #333333;
  margin: 0;
}
