.stock-table {
  text-align: center;
}

.stock-body {
  max-height: 500px;
  overflow: scroll;
}


.stock-container {
  margin-left: 80px;
  margin-right: 80px;
}

.stock-header {
  padding: 20px;
  text-align: left;
}

.stock-header p {
  font-size: 1.3rem;
  color: #333;
  margin: 0;
}
